* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: 0.3s;
}

body {
	background-color: aliceblue;
}

header {
	background-color: rgba(128, 128, 128, 0.2);
	display: flex;
	flex-wrap: wrap;
}

.box1, .box2, .box3 {
	width: 30%;
	display: flex;
	padding: 20px;
	align-items: center;
}

h6 {
	display: inline;
	font-size: 1.4rem;
	font-weight: 100;
	padding-right: 40px;
}

.a1 {
	text-decoration: none;
	color: rgba(128, 128, 128);
}

.a1:hover, .a2:hover {
	color: rgba(0, 0, 0, 0.8);
}

.a2 {
	text-decoration: none;
	color: rgba(128, 128, 128);
}

.box3 {
	 justify-content: end;
}

button {
	font-size: 1.3rem;
	height: 50px;
	border-radius: 8px;
	padding: 1px 20px;
	margin: 8px;
	box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.5);
}

.button1 {
	color: #0084fe;
	border: 1px solid #0084fe;
	background-color: rgba(240, 248, 255, 0.9);
}

.button1:hover {
	background-color: #0084fe;
	color: rgba(240, 248, 255, 0.9);
}

.button2 {
	background-color: rgba(128, 128, 128, 0.8);
	color: white;
	border: 1px solid rgba(128, 128, 128, 0.8)
}

.button2:hover {
	background-color: rgba(128, 128, 128);
	margin-bottom: 12px;
}

.button3 {
	background-color:#17538a;
	color: white;
	border: 1px solid #17538a;
}

.button3:hover {
	margin-bottom: 12px;
	background-color: #17538a;
	border: 1px solid #17538a;
}

h1{
	font-size: 4rem;
	font-weight: bold;
}

.container1{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}

.box-1{
	color: gray;
	width: 50vh;
	padding: 90px 35px;
	font-weight: 200;
	font-size: 2rem;
	padding-bottom: 0;
}

.box-2 {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.card1, .card2 {
	width: 180px;
	height: 80px;
	border: 1px solid rgba(128, 128, 128, 0.04);
	border-radius: 15px;
	padding: 10px;
	margin: 20px;
	box-shadow: 10px 10px 10px rgba(128, 128, 128);
	text-align: center;
	color: white;
}

.card1 {
	margin-left: 5px;
	background-color: #17538a;
}

.card2 {
	color: #17538a;
}

.h3_1, .h3_2 {
	font-size: 1.5rem;
}

.card1:hover, .card2:hover {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

section {
	display: flex;
}

.container3 {
	width: 500px;
	padding: 50px;
}