* {
	padding: 0;
	margin: 0;
	font-family: "Josefin Sans";
	transition: 0.3s;
}

body {
	background-color: aliceblue;
}

header {
	background-color: rgba(128, 128, 128, 0.2);
	display: flex;
	flex-wrap: wrap;
}

.img-box, .nav-1, .nav-2 {
	width: 30%;
	display: flex;
	padding: 20px;
	align-items: center;
}

h6 {
	font-size: 1.4rem;
	font-weight: normal;
}

.a1 {
	text-decoration: none;
	color: rgba(128, 128, 128);
	margin-right: 20px;
}

.a1:hover, .a2:hover {
	color: rgba(0, 0, 0, 0.8);
}

.a2 {
	text-decoration: none;
	color: rgba(128, 128, 128);
}

.box3 {
	 justify-content: end;
}

button {
	font-size: 1.1rem;
	height: 50px;
	border-radius: 8px;
	padding: 1px 20px;
	margin: 8px;
	box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.5);
}

.nav-button-1 {
	color: #0084fe;
	border: 1px solid #0084fe;
	background-color: rgba(240, 248, 255, 0.9);
}

.nav-button-1:hover {
	background-color: #0084fe;
	color: rgba(240, 248, 255, 0.9);
}

.nav-button-2 {
	background-color: rgba(128, 128, 128, 0.8);
	color: white;
	border: 1px solid rgba(128, 128, 128, 0.8)
}

.nav-button-2:hover {
	background-color: rgba(128, 128, 128);
	margin-bottom: 12px;
}

.nav-button-3 {
	background-color:#17538a;
	color: white;
	border: 1px solid #17538a;
}

.nav-button-3:hover {
	margin-bottom: 12px;
	background-color: #17538a;
	border: 1px solid #17538a;
}

h1{
	font-size: 4rem;
	font-weight: bold;
}

.container-1{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}

.text-1{
	color: gray;
	width: 50vh;
	padding: 90px 35px;
	font-weight: 200;
	font-size: 2rem;
	padding-bottom: 0;
}

.card-box {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
}

.card-1, .card-2 {
	display: flex;
	flex-direction: column;
	align-items:start;
	width: 180px;
	height: 80px;
	border: 1px solid rgba(128, 128, 128, 0.04);
	border-radius: 15px;
	padding: 10px;
	padding-left: 20px;
	margin: 15px;
	box-shadow: 10px 10px 10px rgba(128, 128, 128);
	color: white;
}

.card-1 {
	background-color: #17538a;
}

.card-2 {
	color: #17538a;
}

.card-1:hover, .card-2:hover {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.container-2 {
	width: 500px;
	padding: 50px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.teacher-button-1, .teacher-button-2, .students-button-1, .students-button-2 {
	border: none;

}
